/* src/index.css */
/* Puedes añadir tus propios estilos personalizados aquí también */
body {
  background-color: #000; /* Fondo negro */
       color: #fff; /* Texto blanco */
  font-family: sans-serif;
}